/* ==========================================================================
                                RESET
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, canvas {
  max-width: 100%;
}

.clearfix:before,
.clearfix:after {
  content: " "; 
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

html, body {
  height: 100%;
}



/* ==========================================================================
                                TYPED.JS
   ========================================================================== */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* ==========================================================================
                                FOGGOPOGO
   ========================================================================== */

/* ****************************** GENERAL ********************************  */

.container {
  width: 100%;
  text-align: center;
  background: #E9F2F9; 
}

h1, h2, h3, span, a {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #1B325F;
  font-family: 'Quicksand', sans-serif;}

.section-header {
  font-size: 1.75em;
  margin-bottom: 3%;
  color: #1B325F;
}

.column {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
  padding: 10% 0;
  border-bottom: 1px solid #F26C4F;
}

/* ****************************** INTRO **********************************  */

#introduction {
  width: 100%;
  height: 100%;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}


#header {
  position: absolute;
  height: 30%;
  width: 50%;
  margin: auto 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  color: #F26C4F;
}

#header h1 {
  font-size: 4.75em;
  opacity:.95;
  margin-bottom: 3%;
}

#header h3 {
  font-size: 2.25em;
  display: inline;
  opacity:.8;
}

#down-arrow {
  position: absolute;
  width: 60px;
  margin: 0 auto 2%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  cursor: pointer;
}

#navbar {
  background: #9CC4E4;
}

#navbar ul {
  margin-top: 2em;
}

#navbar li {
  padding:15%;
}

#navbar a {
  color: #3A89C9;
  text-decoration: none;
  font-size: 1.5em;
}

#navbar a:hover, #navbar a:active {
  color: #1B325F;
}

/* ****************************** NAV TOGGLE **********************************  */

.navicon-button {
  display: block;
  position: fixed;
  padding: 2em 1em;
  transition: 0.25s;
  top:0;
  left:0;
  cursor: pointer;
  user-select: none;
  opacity: .8;
  width:5%;
  z-index: 100;
}
.navicon-button .navicon:before, .navicon-button .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover {
  transition: 0.5s;
  opacity: 1;
}
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover .navicon:before {
  top: .825rem;
}
.navicon-button:hover .navicon:after {
  top: -.825rem;
}

.navicon {
  position: fixed;
  width: 2.5em;
  height: .3125rem;
  background: #F26C4F;
  transition: 0.5s;
  border-radius: 2.5rem;
  z-index: 100;
}
.navicon:before, .navicon:after {
  display: block;
  content: "";
  height: .3125rem;
  width: 2.5rem;
  background: #F26C4F;
  position: absolute;
  transition: 0.5s 0.25s;
  border-radius: 1rem;
}
.navicon:before {
  top: .625rem;
}
.navicon:after {
  top: -.625rem;
}

/* ****************************** ABOUT **********************************  */

#me {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 4%;
}

#bio {
  font-size: 2.3em;
  margin: 0 auto;
  line-height: 1.75em;
}

/* ****************************** SKILLS **********************************  */

.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:#9CC4E4;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  background: #1B325F;
  position:absolute;
  top:0;
  left:0;
  font-weight:bold;
  font-size:13px;
  color:#fff;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  color: #E9F2F9;
  padding:0 7px;
  height:35px;
  width: 6em;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  background: #3A89C9;
  height:35px;
  width:0px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}


/* ****************************** PHOTOS **********************************  */

#photo-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}


/* ****************************** CONTACT **********************************  */

#contact div {
  margin-top: 7%;
}

#contact ul li {
  display: inline-block;
  width: 15%;
  padding: 0 5%;
  position: relative;
}

#contact ul li a {
  font-size: 4.5em;
}

#contact ul li a i {
  color: #9CC4E4;
}

#contact ul li a i:hover, #contact ul li a i:active {
  color: #3A89C9;
}

/* ==========================================================================
                                MEDIA QUERIES
   ========================================================================== */

@media (max-width: 1024px) {
  #header h1 {
    font-size: 3.75em;
  }

  #header h3 {
    font-size: 1.5em;
  }
}


@media (max-width: 768px) {
  #header h1 {
    font-size: 3em;
  }

  #header h3 {
    display: none;
  }

  #about{
    padding: 8% 0;
  }

  #me {
    width: 40%;
    margin-bottom: 6%;
  }

  #bio {
    width: 70%;
    font-size: 1.4em;
  }

  #contact ul li {
    width: 50px;
  }

  #contact ul li a {
  font-size: 3em;
}
}

