.container {
  height: 100vh;
}

.imgContainer {
  width: 50%;
  margin: auto;
}

img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: all 0.2s linear;
}

img:hover {
  filter: none;
}

.textContainer {
  width: 50%;
  margin: auto;
}

p {
  font-size: 2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}
