.section {
  height: 100vh;
}

.text {
  font-size: 2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.yellow:hover {
  color: var(--color-yellow);
}

.blue:hover {
  color: var(--color-blue);
}

.pink:hover {
  color: var(--color-pink);
}